doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='resume of a software engineer with 20 years of experience currently located in spain')
        meta(name='author', content='Jesús Corrius')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Jesús Corrius
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#certifications') Professional Development

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Jesús 
                        span.text-primary Corrius
                    .subheading.mb-5
                        | Palma, Balearic Islands (Spain) · 
                        a(href='mailto:name@email.com') jcorrius@gmail.com
                    p.lead.mb-5
                        | Software Architect - Full-Stack Cloud Developer - Quantitative Financial Engineer
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/jcorrius/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://medium.com/@jesus.corrius')
                            i.fab.fa-medium
                        a.social-icon(href='https://github.com/jcorrius')
                            i.fab.fa-github
                        a.social-icon(href='https://twitter.com/jcorrius')
                            i.fab.fa-twitter

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Chief Software Architect
                            .subheading.mb-3 Bluekiri
                            p
                                | Determine client requirements, create solution plans, and lead software engineers. Technologies used include .NET Core, C#, Linux, Microsoft Azure, Google Cloud, Kubernetes.
                        .flex-shrink-0
                            span.text-primary September 2017 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Chief Software Architect
                            .subheading.mb-3 Logitravel
                            p
                                | Promote the principles of Agile, DevOps, Site Reliability Engineering, and agility-at-scale at the organizational level. Technologies used include Technologies: .NET Framework, C#, Windows Server, IIS, Microsoft SQL, MongoDB, Azure DevOps, JIRA.
                        .flex-shrink-0
                            span.text-primary August 2015 - September 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Operation Design Team Leader
                            .subheading.mb-3 NTT Communications
                            p
                                | Leading a remote team of 3. Perform technology feasibility studies for new service catalogue items. Technologies used include Linux, Amazon Web Services, VMWare, OpenStack, Microsoft Azure.
                        .flex-shrink-0
                            span.text-primary August 2014 - July 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Deputy of the Board of Directors
                            .subheading.mb-3 The Document Foundation
                            p
                                | The Board of Directors is the main administration of the Document Foundation's projects and teams, with special focus on the LibreOffice project. Directors are directly elected by Community Members.
                        .flex-shrink-0
                            span.text-primary October 2011 - February 2014

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Software Engineer
                            .subheading.mb-3 NTT Communications
                            p
                                | Building a platform to manage hosting infrastructure. Technologies used include Python, Django, MySQL, C++.
                        .flex-shrink-0
                            span.text-primary August 2011 - July 2014
         
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Google Summer of Code Participant
                            .subheading.mb-3 Google Summer of Code
                            p
                                | Crosscompile the Windows version of OpenOffice.org on Linux. Technologies used included Linux, Git, C++, Autotools, MinGW64.
                        .flex-shrink-0
                            span.text-primary April 2009 - August 2009

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 Fluendo
                            p
                                | Development of a consumer application on top of the GStreamer multimedia framework for Linux and Windows. Technologies used included Python, C, C++, Git, MinGW32.
                        .flex-shrink-0
                            span.text-primary April 2008 - May 2009

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 Infojobs International
                            p
                                | Development of an international job seeking web site. Technologies used include Python, C++, PHP, Javascript.
                        .flex-shrink-0
                            span.text-primary June 2005 - March 2008

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Teacher in International Free Software Master
                            .subheading.mb-3 Universitat Oberta de Catalunya
                            p
                                | Teacher of Advanced Software Development and Linux Systems Programming. Technologies used Linux, C.
                        .flex-shrink-0
                            span.text-primary February 2003 - July 2010

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Junior Software Engineer
                            .subheading.mb-3 iNetClient Technologies
                            p
                                | Development, testing and documentation of commercial products for GPRS connectivity. Technologies used included C++, Visual Studio, Win32 API.
                        .flex-shrink-0
                            span.text-primary March 2001 - May 2005

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Fitch Learning (London)
                            .subheading.mb-3 Certification in Quantitative Finance
                            div Numerical and Computational Techniques, Complex Derivatives Valuations, Risk Management, Investment Management, and Trading.
                        .flex-shrink-0
                            span.text-primary 2014 - 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Universitat Oberta de Catalunya
                            .subheading.mb-3 Bachelor of Science Engineering
                            div Computer Science - Artificial intelligence Track.
                        .flex-shrink-0
                            span.text-primary 2003 - 2011

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Universitat Autònoma de Barcelona
                            .subheading.mb-3 Bachelor of Arts
                            div Audiovisual Communication - Cinema Track.
                        .flex-shrink-0
                            span.text-primary 1997 - 2001

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Python
                        li
                            span.fa-li
                                i.fas.fa-check
                            | C++
                        li
                            span.fa-li
                                i.fas.fa-check
                            | C#
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Bash scripting
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Git
                        li
                            span.fa-li
                                i.fas.fa-check
                            | PyCharm
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Visual Studio
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Jenkins
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Azure DevOps (Microsoft Team Foundation Service)
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Google Cloud Platform
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Microsoft Azure
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Amazon Web Services
                        li
                            span.fa-li
                                i.fas.fa-check
                            | JIRA
                        p

                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams


            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a software architect and developer, I enjoy reading (non-fiction), watching movies and going to the gym. I also love hiking when the weather is nice enough (in the Balearic Islands is most of the year).
                    p.mb-0
                        | I am also a big finance nerd and I love learning about trading and investment strategies. I also spend a large amount of my free time exploring the latest technology advancements.

            hr.m-0

            // Awards
            section#certifications.resume-section
                .resume-section-content
                    h2.mb-5 Professional Development
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-graduation-cap.text-warning
                            | Machine Learning with TensorFlow on Google Cloud Platform Specialization (Coursera)
                        li
                            span.fa-li
                                i.fas.fa-graduation-cap.text-warning
                            | Data Engineering, Big Data, and Machine Learning on GCP Specialization (Coursera)
                        li
                            span.fa-li
                                i.fas.fa-graduation-cap.text-warning
                            | Machine Learning for Trading Specialization (Coursera)
                        li
                            span.fa-li
                                i.fas.fa-graduation-cap.text-warning
                            | Architecting with Google Kubernetes Engine Specialization (Coursera)
                        li
                            span.fa-li
                                i.fas.fa-graduation-cap.text-warning
                            | Developing Applications with Google Cloud Platform Specialization (Coursera)
                        li
                            span.fa-li
                                i.fas.fa-graduation-cap.text-warning
                            | Exam AZ-203: Developing Solutions for Microsoft Azure (Microsoft)
                        li
                            span.fa-li
                                i.fas.fa-graduation-cap.text-warning
                            | Exam AZ-900: Microsoft Azure Fundamentals (Microsoft)
                        li
                            span.fa-li
                                i.fas.fa-graduation-cap.text-warning
                            | Exam 70-483: Programming in C# (Microsoft)
                        li
                            span.fa-li
                                i.fas.fa-graduation-cap.text-warning
                            | Pandas and Numpy for Python Quants Workshop (Fitch Learning)
                        li
                            span.fa-li
                                i.fas.fa-graduation-cap.text-warning
                            | Pattern-Oriented Software Architectures for Concurrent and Networked Mobile Devices and Clouds (Coursera)
                        li
                            span.fa-li
                                i.fas.fa-graduation-cap.text-warning
                            | Introduction to Computational Finance and Financial Econometrics (Coursera)
                        li
                            span.fa-li
                                i.fas.fa-graduation-cap.text-warning
                            | Introduction to Finance (Coursera)
                        li
                            span.fa-li
                                i.fas.fa-graduation-cap.text-warning
                            | Introduction to Statistics (Udacity)
                            
 
        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')