<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Jesús Corrius<br />
                Software Engineer. Interested in C++, Scientific Python and Algorithmic Trading. LibreOffice.<br />
                jcorrius@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
		<a href="https://www.linkedin.com/in/jcorrius">https://www.linkedin.com/in/jcorrius/</a><br />
                <a href="https://twitter.com/jcorrius">twitter.com/jcorrius</a><br />
		<a href="https://www.facebook.com/jcorrius">https://www.facebook.com/jcorrius</a><br />
		<a href="https://plus.google.com/101728170107556489506">https://plus.google.com/101728170107556489506</a><br />
		<a href="https://github.com/jcorrius">github.com/jcorrius</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
